ELELEMER_OLLAMA__BASE_URL="http://localhost:11434"
ELELEMER_OLLAMA__API_KEY="not-required"
ELELEMER_OLLAMA__TIMEOUT_SECS=1800
ELELEMER_LLAMACPP__BASE_URL="http://localhost:8080"
ELELEMER_LLAMACPP__API_KEY="not-required"
ELELEMER_LLAMACPP__TIMEOUT_SECS=1800
ELELEMER_SYSTEM_PROMPT="You are a helpful assistant"
